<footer id="footer" class="sixteen columns" data-hook>
	<div class="container">
		<div id="footer-left" class="columns alpha eight" data-hook>
			<p>Made By Tiffany <a href="https://devchamploo.github.io">(Devchamploo)</a></p>
		</div>
	</div>
</footer>
