<div id="content" class="columns twelve omega" data-hook>
	<div class="hero_promo">
		<div class="hero-image cover"></div>
		<div id="hero-text-wrapper">
			<h1>Functional Design Made Elegant</h1>
			<a href="/products">Shop Now</a>
		</div>
	</div>
</div>
<div class="tiles-wrapper">
	<div class="left-tile-wrapper">
		<div class="left-tile cover">
			<a href="/t/all/chairs">Chairs</a>
		</div>
	</div>
		<div class="right-tiles">
			<div class="tile-size cover top-tile">
				<a href="/t/all/lamps">Lamps</a>
			</div>
			<div class="tile-size cover bottom-tile">
				<a href="/t/all/tables">Tables</a>
			</div>
		</div>
	</div>
<div class="home-info">
	<img id="stamp" src="https://demo2.wpopal.com/auros/wp-content/uploads/2018/10/home11_icon.png">
	<p>Since 1991, Shoppie Furniture has been a purveyor of quality modern furniture in Ohi. With 20 international brands and counting in 2 shops along Jalan Maarof, Bangsar, Shoppie has a plethora of choices for design connoisseurs. Offering designer sofas, designer chairs, designer dining tables, designer outdoor furniture, upholstery fabric and more, we’re proud to be the best furniture shop in Bangsar dosui amet.</p>
	<img id="signature" src="https://demo2.wpopal.com/auros/wp-content/uploads/2018/10/home11_sig.png">
</div>
